

html{
   /* min-height: 100vh;*/
    width: 100%;

}

.p-sidebar .p-sidebar-header {
    padding: 0.5rem !important;
}

body {

    -webkit-tap-highlight-color: transparent;

   height:  100%;


    width: 100%;
    margin:0;
/*    background-color: #eff3f8;*/
    background-color: #EEEEEE;


}

* {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.my-container{
    margin-left: 2%;
    margin-right: 2%;

}




a{
    text-decoration: none;

}


.router-link-active{
background: #F5F5F5;
}



.mygrid{

    display: grid;
    margin-left: 2%;
    margin-right: 2%;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 1rem;
    justify-content: center;




}





@media screen and (max-width: 780px) {

.mygrid{
  grid-template-columns: 300px
 }

}



tbody{
    word-break: break-word;
}


em{
    word-break: break-word;
}

h1{
    word-break: break-all;
}

h2{
    word-break: break-all;
}

h3{
    word-break: break-all;
}

h4{
    word-break: break-all;
}

p{
    word-break: break-all;
}